footer.footer
  .container
    .footer__top
      .footer__column
        a(href= "index.html").footer__heading.footer__heading--logo MoGo
        .footer__content
          p.footer__desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi corporis nesciunt tempora voluptatem. Voluptatem, perferendis facere? Laboriosam fuga necessitatibus modi, dolore corporis nulla earum doloribus eligendi vero a quia cupiditate.
          .footer__followers <span>15k</span> followers
          .footer__social
            span.text.text--italic.text--light Follow us:
            .footer__social--list
              a.footer__social--icon(href="#")
                i.fab.fa-facebook
              a.footer__social--icon(href="#")
                i.fab.fa-twitter
              a.footer__social--icon(href="#")
                i.fab.fa-instagram
              a.footer__social--icon(href="#")
                i.fab.fa-pinterest
              a.footer__social--icon(href="#")
                i.fab.fa-youtube
              a.footer__social--icon(href="#")
                i.fab.fa-google
              a.footer__social--icon(href="#")
                i.fab.fa-qq
          form.footer__form(action="javascript:void(0)")
            input(type= "email", placeholder="Your email...").footer__form--input
            button.footer__form--btn Subscribe
      .footer__column
        h3.footer__heading Blogs
        .footer__content
          a(href= "#").footer__blog
            img(src="./images/img-blogs1.png", alt="")
            .footer__blog--info
              h4.footer__blog--title Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, dolorem.
              span.footer__blog--date.text.text--italic.text--light Jan 9, 2016
          a(href= "#").footer__blog
            img(src="./images/img-blogs2.png", alt="")
            .footer__blog--info
              h4.footer__blog--title Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, dolorem.
              span.footer__blog--date.text.text--italic.text--light Jan 9, 2016
          a(href= "#").footer__blog
            img(src="./images/img-blogs3.png", alt="")
            .footer__blog--info
              h4.footer__blog--title Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, dolorem.
              span.footer__blog--date.text.text--italic.text--light Jan 9, 2016
      .footer__column
        h3.footer__heading Instagram
        .footer__content
          ul.footer__images
            li.footer__image
              img(src="./images/img-work1.png", alt="")
            li.footer__image
              img(src="./images/img-work2.png", alt="")
            li.footer__image
              img(src="./images/img-work3.png", alt="")
            li.footer__image
              img(src="./images/img-work4.png", alt="")
            li.footer__image
              img(src="./images/img-work5.png", alt="")
            li.footer__image
              img(src="./images/img-work6.png", alt="")
            li.footer__image
              img(src="./images/img-work7.png", alt="")
            li.footer__image
              img(src="./images/img-about2.png", alt="")
            li.footer__image
              img(src="./images/img-about1.png", alt="")
          a(href="#").footer__images--more.text.text--light.text--italic Views more photos
    .footer__bottom &copy; 2016 Mogo free PSD template by Laaqiq