section.number
  .container
    .number__list
      .number__item
        h4.number__item-heading 42
        span.number__item-info Web design projects
      .number__item
        h4.number__item-heading 123
        span.number__item-info Happy client
      .number__item
        h4.number__item-heading 42
        span.number__item-info Award winner
      .number__item
        h4.number__item-heading 42
        span.number__item-info cup of coffee
      .number__item
        h4.number__item-heading 42
        span.number__item-info members
