section.people
  .container
    +blockBox('Happy client', 'What people say')
    ul.people__list
      +peopleItem("../images/img-people1.png", 'Matthew Dix')
      +peopleItem("../images/img-people2.png", 'Jaelynn Castillo')
      +peopleItem("../images/img-people3.png", 'Nick Karvounis')
      +peopleItem("../images/img-people4.png", 'Mike Petrucci')