section.service
  .container
    +blockBox('We work with',  'Amazing Services')
    .service__list
      +serviceItem("./images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat ad ducimus perspiciatis vitae, amet error repudiandae dolorum ipsum adipisci?")
      +serviceItem("./images/img-service-icon2.png", "Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat ad ducimus perspiciatis vitae, amet error repudiandae dolorum ipsum adipisci?")
      +serviceItem("./images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat ad ducimus perspiciatis vitae, amet error repudiandae dolorum ipsum adipisci?")
    .service__list
      +serviceItem("./images/img-service-icon4.png", "Seo", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat ad ducimus perspiciatis vitae, amet error repudiandae dolorum ipsum adipisci?")
      +serviceItem("./images/img-service-icon5.png", "CSS/HTML", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat ad ducimus perspiciatis vitae, amet error repudiandae dolorum ipsum adipisci?")
      +serviceItem("./images/img-service-icon6.png", "Digital", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat ad ducimus perspiciatis vitae, amet error repudiandae dolorum ipsum adipisci?")