section.quote
  .container
    .quote__container
      +quoteItem("../images/img-quote-avatar.png", true)
      +quoteItem("../images/img-quote-avatar.png", true)
      +quoteItem("../images/img-quote-avatar.png", true)
      +quoteItem("../images/img-quote-avatar.png", true)
      +quoteItem("../images/img-quote-avatar.png", true)