section.work
  .container
    +blockBox('What we do', 'Some of our work', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas esse culpa pariatur nesciunt laudantium praesentium aliquam, inventore numquam voluptates sequi, aspernatur maxime in nulla non perferendis, fugiat nostrum at ratione!')
  .work__list
    +workItem()
    +workItem("./images/img-work2.png")
    +workItem("./images/img-work3.png")
    +workItem("./images/img-work4.png")
    +workItem("./images/img-work5.png", "work__item--full")
    +workItem("./images/img-work6.png")
    +workItem("./images/img-work7.png")
  //- .work__list
  //-   .work__column
  //-     +workItem()
  //-     +workItem("./images/img-work2.png")
  //-   .work__column
  //-     +workItem("./images/img-work3.png")
  //-     +workItem("./images/img-work4.png")
  //-   .work__column
  //-     +workItem("./images/img-work5.png", "work__item--full")
  //-   .work__column
  //-     +workItem("./images/img-work6.png")
  //-     +workItem("./images/img-work7.png")