.about {
	padding-top: 9.3rem;
	padding-bottom: 11rem;
	background-color: white;
	&__list {
		display: flex;
		margin-left: -3rem;
	}
	//* flexbox
	&__item {
		flex-basis: calc(33.33% - 3rem);
		margin-left: 3rem;
	}

	// * grid
	// &__list {
	// 	display: grid;
	// 	grid-template-columns: repeat(3, 1fr);
	// 	grid-column-gap: 3rem;
	// }

	&__content {
		line-height: 1.4;
		color: white;
		text-transform: uppercase;
		padding: 2rem;
	}
	&__title {
		font-size: 1.8rem;
		font-weight: bold;
		@include textOverflow();
	}
	&__icon {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}

@include maxWidth(767px) {
	.about {
		padding-top: 5rem;
		padding-bottom: 5rem;

		// &__list {
		// 	grid-auto-columns: 80%;
		// 	grid-auto-flow: column;
		// 	grid-template-columns: unset;
		// 	grid-row-gap: 2.5rem;
		// 	overflow-x: auto;
		// }

		&__list {
			@include touchSlider(90%, 2rem);
		}
	}
}

@include hoverEffect('.about__item', '.about__content');
