.quote {
	background-color: $gray-color;
	margin: 10rem 0;
	padding: 6.5rem 0;
	&__item {
		padding: 0 5.5rem;
		outline: none;
		&:not(:nth-child(99)) {
			@include flexBox;
		}
	}
	&__icon {
		padding: 4.5rem;
		border: 2px solid $third-color;
		margin-right: 6rem;
		flex-shrink: 0;
	}
	&__image {
		width: 21rem;
		height: 21rem;
		object-fit: cover;
		margin-right: 2.5rem;
	}
	&__desc {
		font-size: 2.4rem;
		font-family: $secondary-font;
		color: $text-color;
		font-style: italic;
		font-weight: 300;
		line-height: 1.5;
		@include textOverflow(3);
	}
	&__info {
		display: flex;
		flex-direction: column;
	}
	&__author {
		margin-top: auto;
		font-family: $third-font;
		font-size: 2.4rem;
		padding-left: 8rem;
		position: relative;
		&::before {
			content: '';
			display: block;
			@include absoluteCenter('top');
			left: 0;
			width: 7rem;
			height: 0.4rem;
			background-color: #f38181;
		}
	}
	&-arrow-left,
	&-arrow-right {
		font-size: 3rem;
		color: $gray-dark-color;
		font-weight: 300;
		cursor: pointer;
		padding: 2rem;
	}

	// slick slider
	.slick-arrow {
		font-size: 3rem;
		color: $gray-dark-color;
		font-weight: 300;
		padding: 1rem 2rem;
		cursor: pointer;
		border: none;
		outline: none;
		background-color: transparent;
		@include absoluteCenter('top');
		z-index: 5;
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
	@include maxWidth(1023px) {
		margin: 5rem 0;
		&__image {
			width: 17rem;
			height: 17rem;
		}
	}
	@include maxWidth(767px) {
		&-arrow-left,
		&-arrow-right {
			display: none;
		}
		&__item {
			padding: 0;
			&:not(:nth-child(99)) {
				flex-direction: column;
			}
		}
		&__icon {
			padding: 1.5rem;
			margin: 0 auto 3rem;
		}
		&__image {
			width: 9.5rem;
			height: 9.5rem;
			margin: 0 auto 3rem;
		}
		&__desc {
			display: block;
			font-size: 1.6rem;
		}
		&__author {
			font-size: 2rem;
			padding-right: 1rem;
			margin-left: auto;
		}
	}
}
